body {
  background-color: #ffffff;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}

.well {
  opacity: 0.9;
  margin-right: 58em;
  padding-left: 60px;
}

#output {
  list-style: none;
  color: white;
  margin-top: 20px;
  text-align: center;
  padding-right: 5em;
  font-size: 20px;
}

h1 {
  color: #ff0066;
}

.form-group {
  color: white;
}

.btn:hover {
  background-color: #ff0066;
  color: white;
}

.btn {
  margin-top: 20px;
  background-color: yellow;
}

#rules {
  display:none;
  color: white;
}

.rulesButton {
  background-color: yellow;
  display:block;
}

#position {
    margin-top 20px;

 }

 .rulesButton:hover {
   background-color: #ff0066;
   color: white;
 }
